html{
    scroll-behavior:smooth/*speed of scroller*/
}

body{
    margin:10px 0 0;
    font-family:comic 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    background: linear-gradient(45deg, lightcoral,lightgreen);
    s

}
table{
    width:100%;
}

h1{
    font-family: 'Castellar',sans-serif;
    font-size:45px;
    font-weight:bolder;
    text-shadow:0px 0px 10px black;
}
h2{
    background: linear-gradient(black, darkred,black); /*border of all the h2*/
    width:50%;
    color:white;
    margin:auto; /*center*/S
    padding:15px;
    border-radius:50% 60% 0% 0%;/*curves tl, tr,br,bl*/
    border-bottom: 5px solid white;
    font-family:arial
 
}
img{
    width:270px;
    height:160px;
    border-radius:20px ;
    box-shadow:0 0 10px; color:black; 
}
img.main{ /*image class selector = this works for specifically choosen images with "class variable" = anything that starts with a (.) */
    width:500px;
    height:270px;
    
}
span.fr{
    color:rgb(215, 137, 19);
}
span.sc{
    color:rgb(37, 37, 184);
}